{% extends "meas/base.html" %}

{% block content %}
{% if condition %}
  <h1>Name: {{ condition.description }}</h1>

  <p><strong>description:</strong> {{ condition.description }}</p>
  <p><strong>serial number:</strong> {{ condition.serial }}</p>
  <p><strong>series:</strong> {{c.series}}</p>
  <p><strong>condition:</strong> {{ condition.condition }}</p>
  <p><strong>lane:</strong> L{{ condition.lane }}</p>
  <p><strong>created:</strong> {{ condition.created_at }}</p> 
  <p><strong>ulid:</strong> {{ condition.ulid }}</p> 

  <div style="margin-left:20px;margin-top:20px">

    <h2>Power</h2>
    {% for e in power %}
    <p>{{e.item}}: {{e.value}} {{e.unit}} {{e.text}} ({{e.index}})</p>
    {% endfor %}
    <h2>BER</h2>
    {% for e in ber %}
    <p>{{e.item}}: {{e.value}} {{e.unit}} {{e.text}} ({{e.index}})</p>
    {% endfor %}
    <h2>Entries</h2>
    {% for e in entry %}
    <p>{{e.item}}: {{e.value}} {{e.unit}} {{e.text}} ({{e.index}})</p>
    {% endfor %}
  </div>

{% else %}
  <p>There are no condition in the library.</p>
{% endif %}  
{% endblock %}
