{% extends "meas/base.html" %}

{% block content %}

    {% if condition %}
    <h1>{{ condition.first.uuid }} Conditions</h1>

    <ul>
      {% for c in condition %}
      <li>
        <h2>{{ c.description }} {{ c.condition }}</h2>
            <p><strong>description:</strong> {{ c.description }}</p>
            <p><strong>serial number:</strong> {{ c.serial }}</p>
            <p><strong>condition:</strong> {{ c.condition }}</p>
            <p><strong>lane:</strong> L{{ c.lane }}</p>
            <p><strong>created:</strong> {{ c.created_at }}</p> 
            <p><strong>uuid:</strong> {{ c.uuid }}</p>
            <p><strong>series:</strong> {{c.series|date:"ymdHis"}}</p> 
      </li>
      {% endfor %}

    </ul>
    {% else %}
      <p>There are no condition in the library.</p>
    {% endif %}       
{% endblock %}
